<div>
<form action="/complaints" method="POST">
  <h4>Complaints</h4>
  <select name="complaint" onchange = "this.form.submit()">
    <option value="signal problem">Signal Problem</option>
    <option value="pothole">Pothole</option>
    <option value="flooding">Flooding</option>
    <option value="street light">Street light</option>
    <option value="missing sign">Missing Sign</option>
    <option value="faded markings">Faded Road Markings</options>
    <option value="dead animal">Dead Animal</options>

  </select>
</form>
</div>
