<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
</head>


<title></title>
<body>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2">
      Type of Complaint</button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
<!-- <form action= '/add-complaint' method='POST'> -->
      <button class="dropdown-item" type="button">Signal Problem</button>
      <button class="dropdown-item" type="button">Pothole</button>
      <button class="dropdown-item" type="button">Flooding</button>
      <button class="dropdown-item" type="button">Street lights</button>

 </div>
  </div>

</body>
</html>
