<div id="formDivContainer">
<div id="formDiv">
<form action="/submit-complaint" method="POST">
  <h4 class="spacing">Complaints</h4>
  <select name="category">
    <option value="signal_problem">Signal Problem</option>
    <option value="pothole">Pothole</option>
    <option value="flooding">Flooding</option>
    <option value="street_light">Street light</option>
    <option value="missing_sign">Missing Sign</option>
    <option value="faded_markings">Faded Road Markings</options>
  </select>
  <input type="hidden" name="id" value="{{persistedUser.id}}">
  <input type="text" name="description" placeholder="Enter Description">
  <input id="latInput" type="hidden" name="lat">
  <input id="longInput" type="hidden" name="long">
  <button type="submit">Submit Complaint</button>
</form>
</div>
    <div id="coordinatesDisplay">
      {{latitude}}
      {{longitude}}</div>
    <div>
    {{#persistedUser.message}}
        <div class="alert alert-success" role="alert">
        {{persistedUser.message}}
      </div>
    {{/persistedUser.message}}
  </div>
</div>
