<form action='/submit-complaint' method="POST">
<select name="category">
  <option value="signal_problem">Signal Problem<option>
  <option value="pothole">Pothole<option>
  <option value="flooding">Flooding<option>
  <option value="street_light">Street Light<option>
</select>
<input type="hidden" name="id" value="{{persistedUser.id}}">
<input type="text" name="lat" placeholder="Enter latitude">
<input type="text" name="long" placeholder="Enter Longitude">
<input type="text" name="description" placeholder="Enter Description">
<button type="submit">Submit Complaint</button>
