<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="leaflet/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>

<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

<link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.css">
<script type="text/javascript" src="./node_modules/@fortawesome/fontawesome-free/js/all.js"></script>


<script src="leaflet/dist/leaflet.js"
integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
crossorigin=""></script>

<link rel="stylesheet" href="styling.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">

<link rel="stylesheet" src="leaflet-beautify-marker-icon.css">
<script type="text/javascript" src="leaflet-beautify-marker-icon.js"></script>

<link rel="stylesheet" href="leaflet/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />

<script src="leaflet/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
</head>
<body>
<div style="height:500px; width:500px" id="mapid"></div>
<div id="test">
<p id="coordinatesDisplay"></p>
</div>
</body>



<script type="text/javascript" src="mapApp.js"></script>
</html>
