<html>
<head> </head>
<body>
  <div>
  {{>homeNav}}
</div>

  <div class="jumbotron">
  <h1 class="display-4">On The Mark</h1>
  <p class="lead">Welcome to the Houston's road complaints site.</p>
  <hr class="my-4">
  <p>Here you can create an account and file a complaint by selecting the location on our map and submitting complaint.</p>
  <a class="btn btn-secondary btn-lg" href="register" role="button">Register</a>
  <a class="btn btn-secondary btn-lg" href="login" role="button">Log In</a>
</div>
  <body>

</html>
