.userpagebox {
  display: flex;

}

.userpagebox #mapid {
  height: 500px;
  width: 500px;
  margin-right:-100px;
  margin-left:100px;
}

body{
  background-color : rgba(0,0,0,.075) !important;
}

h1{
  margin-left: 12%;
  color : rgb(29, 29, 223)!important
}

p{
  margin-left: 17%;
  margin-right : 50%
}

/* .spacing{
  margin-left : 2%!important;

} */

#mapDiv {
  display: flex;
  justify-content: center;
  
}

#formDivContainer {
  display: flex;
  justify-content: center;
}

.elementspacing{
  margin-top: 7%;
}