.userpagebox {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */

}

.userpagebox #mapDiv {
  margin-left: 12%;
  margin-right: 0.5%;
  width: 31.25rem;
  max-width: 31.25rem;
  height: 31.25rem;
}
#mapDiv #mapid {
  width: 31.25rem;
  height: 31.25rem;
  max-width: 31.25rem;
}
.leaflet-container {
  width: 100%;
  max-width: 30.625rem;
  height: 100%;
}
body{
  background-color : rgba(0,0,0,.075) !important;
}

h1{
  margin-left: 12%;
  color : rgb(29, 29, 223)!important
}

p{
  margin-left: 12%;
  margin-right: 50%;
}

#spacing {
  align-self: flex-start;
  margin-left: 0.5%;
  margin-right: 5%;
  width: auto;
  height: 100%;
}

#formDivContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#formDivContainer input {
  margin: 2%;
}
.elementspacing{
  margin-top: 7%;
}

@media only screen and (max-width: 600px) {
  p {
    margin-right: 12%;
  }
  .userpagebox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .userpagebox #mapDiv {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    max-width: 96%;
    height: 100%;
  }
  #mapDiv #mapid {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 350px;
  }
  .leaflet-container {
    width: 100%;
    max-width: 340px;
    height: 100%;
  }
}
